<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>EmailAccountDescription</key>
			<string>{{ emailaddress }}</string>
			<key>EmailAccountName</key>
			<string>{{ account_name }}</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{ emailaddress }}</string>
			<key>IncomingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>IncomingMailServerHostName</key>
			<string>{{ imap_server }}</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>993</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{ emailaddress }}</string>
{% if password != None %}
			<key>IncomingPassword</key>
			<string>{{ password }}</string>
{% endif %}
			<key>OutgoingMailServerAuthentication</key>
			<string>EmailAuthPassword</string>
			<key>OutgoingMailServerHostName</key>
			<string>{{ smtp_server }}</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>465</integer>
			<key>OutgoingMailServerUseSSL</key>
			<true/>
			<key>OutgoingMailServerUsername</key>
			<string>{{ emailaddress }}</string>
{% if password != None %}
			<key>OutgoingPassword</key>
			<string>{{ password }}</string>
			<key>OutgoingPasswordSameAsIncomingPassword</key>
			<false/>
{% else %}
			<key>OutgoingPasswordSameAsIncomingPassword</key>
			<true/>
{% endif %}
			<key>PayloadDescription</key>
			<string>Configure email account.</string>
			<key>PayloadDisplayName</key>
			<string>IMAP Account ({{ emailaddress }})</string>
			<key>PayloadIdentifier</key>
			<string>{{ payload_identifier }}</string>
			<key>PayloadOrganization</key>
			<string>{{ payload_organization }}</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>{{ payload_uuid1 }}</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>PreventAppSheet</key>
			<false/>
			<key>PreventMove</key>
			<false/>
			<key>SMIMEEnabled</key>
			<false/>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>Automx Email</string>
	<key>PayloadDisplayName</key>
	<string>{{ emailaddress }}</string>
	<key>PayloadIdentifier</key>
	<string>{{ payload_identifier }}</string>
	<key>PayloadOrganization</key>
	<string>{{ payload_organization }}</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>{{ payload_uuid2 }}</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
